services:
  nextjs_app:
    image: node:22
    container_name: nextjs_app
    working_dir: /app
    volumes:
      - ./:/app
    environment:
      NEXT_PUBLIC_API_URL: http://json-server:3001
      NODE_ENV: production
    ports:
      - "3000:3000"
    command: sh -c "npm install && npm run start"
    depends_on:
      - json-server

  json-server:
    image: clue/json-server:latest
    container_name: json-server
    volumes:
      - ./src/database:/data
    ports:
      - "3001:3000"
    command: --watch /data/db.json --host  0.0.0.0
    restart: no
